<nav class="navbar navbar-default navcolor">
  asdfasdfasdf
  </nav>

  <div class="container">
     <div class="panel panel-default up">
        <div class="panel-heading">
            <div class="col-sm-12">
                <div class="row">
                   <div class="col-sm-4">
                     <div class="table-responsive">          
                       <table class="table">
                         <thead>
                           <tr>
                             <th>#</th>
                             <th>Firstname</th>
                             <th>Lastname</th>
                             <th>Age</th>
                             <th>City</th>
                          
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td>1</td>
                             <td>Anna</td>
                             <td>Pitt</td>
                             <td>35</td>
                             <td>New York</td>
                           
                           </tr>
                         </tbody>
                       </table>
                       </div>
                   </div>
               
                   <div class="col-sm-4">      
                      <div class="card">
                          <div class="card-body">
                            <label>One.</label>  <input type="text"class="text-input" /><br>
                            <label>One.</label>  <input type="text"class="text-input" /><br>
                            <label>One.</label>  <input type="text"class="text-input" /><br>
                            <label>One.</label>  <input type="text"class="text-input" /><br>
                            <label>One.</label>  <input type="text"class="text-input" /><br>
                            <button class="btn btn-success">saved</button>&nbsp;&nbsp;
                            <button class="btn btn-success">saved</button>
                            
                          </div>
                        </div>
                     </div>
               
                     <div class="col-sm-4">      
                       <div class="table-responsive">          
                         <table class="table">
                           <thead>
                             <tr>
                               <th>#</th>
                               <th>Firstname</th>
                               <th>Lastname</th>
                               <th>Age</th>
                               <th>City</th>
                       
                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <td>1</td>
                               <td>Anna</td>
                               <td>Pitt</td>
                               <td>35</td>
                               <td>New York</td>
                              
                             </tr>
                           </tbody>
                         </table>
                         </div>
                       </div>
                  
                </div>
                   </div>
        </div>
        <div class="panel-footer down">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                      <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Firstname</th>
                              <th>Lastname</th>
                              <th>Age</th>
                              <th>City</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Anna</td>
                              <td>Pitt</td>
                              <td>35</td>
                              <td>New York</td>
                             
                            </tr>
                          </tbody>
                        </table>
                        </div>
                    </div>
                
                    <div class="col-sm-4">      
                        <div class="card">
                            <div class="card-body">
                              <label>One.</label>  <input type="text"class="text-input" /><br>
                              <label>One.</label>  <input type="text"class="text-input" /><br>
                              <button class="btn btn-success">saved</button>&nbsp;&nbsp;
                              <button class="btn btn-success">saved</button>
                              
                            </div>
                          </div>
                      </div>
                
                      <div class="col-sm-4">      
                        <div class="table-responsive">          
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>City</th>
                            
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Anna</td>
                                <td>Pitt</td>
                                <td>35</td>
                                <td>New York</td>
                               
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                   
                 </div>
            </div>
        </div>
      </div>
    </div>